/* Remote Fonts */
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Remote Fonts */

/* Variables */
:root {
  /* colors */
  --mf-main-fuchsia-pink: #e21b70;
  --mf-main-white: #ffffff;
  --mf-graydought: rgb(255, 152, 197);
  --mf-black: #000;
  --mf-paragraph: #3f3f3f;
  --mf-blue: #0d6efd;
  --mf-purple: #6f42c1;
  --mf-red: #f83600;
  --mf-orange: #df6812;
  --mf-yellow: #ffc107;
  --mf-green: #198754;
  /* gradient color */
  --mf-background-gradient: linear-gradient(338deg,
      rgba(226, 3, 128, 1) 25%,
      rgb(193, 14, 82) 75%);

  /* colors */

  /* font-family */
  --heading-font: "Gabarito", sans-serif;
  --paragraph-font: "Poppins", sans-serif;
  /* font-family */

  /* font sizes */
  --mf-font-mini: 0.5rem;
  --mf-font-esm: 0.7rem;
  --mf-font-sm: 0.8rem;
  --mf-font-md: 1rem;
  --mf-font-lmd: 1.2rem;
  --mf-font-rmd: 1.5rem;
  --mf-font-x: 2rem;
  --mf-font-xl: 3rem;
  --mf-font-xxl: 3.5rem;
  --mf-font-exxl: 4rem;
  /* font sizes */

  /* font weight */
  --m-f-weight-reg: 400;
  --m-f-weight-semb: 600;
  --m-f-weight-bold: 700;
  --m-f-weight-exbold: 800;
  /* font weight */
}

/* Variables */

/* ======= preset stylrs ==== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* ======= preset stylrs ==== */
a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* Common Css */

.btn_gradient {
  padding: 10px 25px;
  /*background: var(--mf-background-gradient);
      */
  background: #ff2b85;
  color: var(--mf-main-white);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -ms-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
}

.btn_gradient:hover {
  color: var(--mf-black);
  background: transparent;
  border-color: var(--mf-black);
}

/* Common Css */

/* =========== NavBar Start =========== */

nav .nav_logo {
  width: 269px;
  height: 125px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 12px;
  border-radius: 18px;
  z-index: 9999;
  background: rgb(70 70 70 / 43%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

nav img {
  width: 200px;
}

nav .menu {
  z-index: 99999;
  left: 0;
  top: 28%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 20px;
  width: 140px;
  border-radius: 0 20px 20px 0;
}

nav .menu ul li a {
  font-family: var(--heading-font);
  font-weight: 400;
  color: var(--mf-main-white);
  line-height: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  transition: all linear 0.2s;
}

nav .menu ul li a img {
  width: 16px;
  border-radius: 50%;
  display: none;
}

nav .menu ul li:hover a img {
  display: block;
}

nav .menu ul li:hover a {
  margin-left: 5px;
  color: var(--mf-main-fuchsia-pink);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.38);
}

nav .menu ul li .active {
  margin-left: 5px !important;
  color: var(--mf-main-fuchsia-pink) !important;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.38) !important;
}

nav .menu ul li .active img {
  display: block !important;
}

/* .navbar {
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 9999999;
}

.navbar .container-fluid {
  position: relative;
  background: rgb(255 146 207 / 88%);
  backdrop-filter: blur(4.6px);
  padding: 0 120px;
}

.navbar .navbar-brand {
  height: 50px;
}
.navbar .container-fluid .navbar-brand img {
  height: 100%;
}
.navbar .navbar-nav {
  column-gap: 50px;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-family: var(--heading-font);
  font-weight: 400;
  color: var(--paragraph-font);
  line-height: 20px;
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
  transition: 0.4s all linear;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--mf-main-fuchsia-pink);
}
.navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: transparent;
  transition: 0.4s;
}
.navbar .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
  background: var(--mf-main-fuchsia-pink);
}
.nav_btn {
  padding: 10px 0;
} */
/* =========== NavBar End =========== */
/* =========== Banner_part Start =========== */

#Banner_part {
  height: 800px;
  position: relative;
  margin-bottom: 40px;
}

#Banner_part .banner_slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Banner_part .banner_slider::after {
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 0.75)'%3e%3c/rect%3e%3cpath d='M0 0L762.94 0L0 764.44z' filter='url(%23SvgjsFilter1021)' fill='rgba(226%2c 27%2c 112%2c 0.04)'%3e%3c/path%3e%3cpath d='M0 560L762.94 560L0 -204.44000000000005z' filter='url(%23SvgjsFilter1021)' fill='rgba(226%2c 27%2c 112%2c 0.04)'%3e%3c/path%3e%3cpath d='M1440 560L677.06 560L1440 -204.44000000000005z' filter='url(%23SvgjsFilter1021)' fill='rgba(226%2c 27%2c 112%2c 0.04)'%3e%3c/path%3e%3cpath d='M1440 0L677.06 0L1440 764.44z' filter='url(%23SvgjsFilter1021)' fill='rgba(226%2c 27%2c 112%2c 0.04)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cfilter height='130%25' id='SvgjsFilter1021'%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='-5' in='TopLeftG' result='TopLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopLeftO' result='TopLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='-5' in='TopRightG' result='TopRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopRightO' result='TopRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='5' in='BottomLeftG' result='BottomLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomLeftO' result='BottomLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='5' in='BottomRightG' result='BottomRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomRightO' result='BottomRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeMerge%3e%3cfeMergeNode in='TopLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='TopRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='SourceGraphic'%3e%3c/feMergeNode%3e%3c/feMerge%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#Banner_part .container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

#Banner_part .container .banner_mockup_slide {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(-82%) translateX(50%);
  width: 250px;
  box-shadow: -3px 8px 11px -2px rgba(0, 0, 0, 0.2);
}

#Banner_part .banner_slide {
  height: 800px;
}

.btwo {
  background: url(../images/banner/pizza.jpg) no-repeat center;
  background-size: cover;
}

.bone {
  background: url(../images/banner/rice-bowl.PNG) no-repeat center;
  background-size: cover;
}

.bthree {
  background: url(../images/banner/dish.PNG) no-repeat center;
  background-size: cover;
}

#Banner_part .image .main {
  height: 540px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#Banner_part .image {
  position: relative;
  width: 250px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}

#Banner_part .image .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%) translateY(55%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#Banner_part .image .bike {
  position: absolute;
  top: 50%;
  left: 0;
  width: 190px;
  transform: translateX(80%) translateY(32%);
  box-shadow: 3px 5px 1px -4px black;
}

#Banner_part .content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  height: 100%;
}

#Banner_part .content .text h2 {
  font-family: var(--heading-font);
  font-size: 45px;
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-main-white);
}

#Banner_part .content .text p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-lmd);
  font-weight: var(--m-f-weight-reg);
  color: #dfdfdf;
  width: 650px;
}

#Banner_part .content .link {
  display: flex;
  column-gap: 0;
}

#Banner_part .content .link a {
  transform: scale(0.8);
}

#Banner_part .content .link .applink {
  display: flex;
  align-items: center;
  column-gap: 10px;
  background: rgba(5, 5, 5, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#Banner_part .content .link .applink i {
  color: var(--mf-main-white);
  font-size: var(--mf-font-x);
}

#Banner_part .content .link .applink img {
  height: var(--mf-font-x);
}

#Banner_part .content .link .applink .linkbody {
  text-align: left;
}

#Banner_part .content .link .applink .linkbody p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-sm);
  color: #dfdfdf;
}

#Banner_part .content .link .applink .linkbody h4 {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-lmd);
  color: var(--mf-main-white);
}

/* =========== Banner_part end =========== */
/* =========== About_part start =========== */
#About_part {
  padding: 100px 0;
}

/* heading part */
#About_part .container .about_heading {
  text-align: center;
  padding: 30px;
  background: var(--mf-main-white);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#About_part .container .about_heading h2 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-black);
  margin-bottom: 10px;
}

#About_part .container .about_heading h2 span {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xxl);
  font-weight: var(--m-f-weight-bold);
  color: var(--mf-main-fuchsia-pink);
}

#About_part .container .about_heading p {
  width: 635px;
  margin: 0 auto;
  font-family: var(--mf-paragraph);
  font-size: var(--mf-font-md);
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-paragraph);
}

/* heading part */
/* about part one */
#About_part .container .deliver_service {
  padding: 50px 150px;
}

#About_part .container .deliver_service .row {
  display: flex;
  align-items: center;
}

#About_part .container .deliver_service .left {
  padding: 50px 0;
}

#About_part .container .deliver_service .left .text h2 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-main-fuchsia-pink);
  margin-bottom: 30px;
}

#About_part .container .deliver_service .left .text p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-md);
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-paragraph);
  margin-bottom: 30px;
}

#About_part .container .deliver_service .left .text p span {
  color: var(--mf-main-fuchsia-pink);
  font-weight: var(--m-f-weight-semb);
  font-size: var(--mf-font-lmd);
}

#About_part .container .deliver_service .right {
  display: flex;
  justify-content: flex-end;
}

#About_part .container .deliver_service .image .main {
  height: 540px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#About_part .container .deliver_service .image {
  position: relative;
}

#About_part .container .deliver_service .image .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%) translateY(55%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#About_part .container .deliver_service .image .bike {
  position: absolute;
  top: 50%;
  left: -11%;
  width: 190px;
  transform: translateX(80%) translateY(32%);
  box-shadow: 3px 5px 1px -4px black;
}

/* about part one */
/* about part two */
#About_part .container .delivery_shop {
  padding: 50px 150px;
}

#About_part .container .delivery_shop .row {
  display: flex;
  align-items: center;
}

#About_part .container .delivery_shop .left .image .main {
  height: 540px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#About_part .container .delivery_shop .left .image {
  position: relative;
}

#About_part .container .delivery_shop .left .image .top {
  position: absolute;
  top: 0px;
  left: 0;
  width: 200px;
  box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%) translateY(100%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#About_part .container .delivery_shop .left .image .ordering {
  position: absolute;
  top: 0%;
  left: 0;
  width: 200px;
  transform: translateX(80%) translateY(30%);
  box-shadow: 3px 5px 1px -4px black;
}

#About_part .container .delivery_shop .left .image .shopOne {
  position: absolute;
  top: 50%;
  left: 0;
  width: 249px;
  transform: translateX(30%) translateY(157%);
  box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#About_part .container .delivery_shop .left .image .shopTwo {
  position: absolute;
  top: 80%;
  left: 0%;
  width: 249px;
  transform: translateX(-26%) translateY(30%);
  box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#About_part .container .delivery_shop .right {
  padding: 50px 0;
  text-align: right;
}

#About_part .container .delivery_shop .right .text h2 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-main-fuchsia-pink);
  margin-bottom: 30px;
}

#About_part .container .delivery_shop .right .text p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-md);
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-paragraph);
  margin-bottom: 30px;
}

#About_part .container .delivery_shop .right .text p span {
  color: var(--mf-main-fuchsia-pink);
  font-weight: var(--m-f-weight-semb);
  font-size: var(--mf-font-lmd);
}

/* about part two */
/* about part three */
#About_part .container .dine_in {
  padding: 50px 150px;
}

#About_part .container .dine_in .row {
  display: flex;
  align-items: center;
}

#About_part .container .dine_in .left {
  padding: 50px 0;
}

#About_part .container .dine_in .left .text h2 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-main-fuchsia-pink);
  margin-bottom: 30px;
}

#About_part .container .dine_in .left .text p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-md);
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-paragraph);
  margin-bottom: 30px;
}

#About_part .container .dine_in .left .text p span {
  color: var(--mf-main-fuchsia-pink);
  font-weight: var(--m-f-weight-semb);
  font-size: var(--mf-font-lmd);
}

#About_part .container .dine_in .right {
  display: flex;
  justify-content: flex-end;
}

#About_part .container .dine_in .right .image .main {
  height: 540px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#About_part .container .dine_in .right .image {
  position: relative;
}

#About_part .container .dine_in .right .image .top {
  position: absolute;
  top: 0;
  left: 100%;
  width: 189px;
  box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%) translateY(89%);
}

#About_part .container .dine_in .right .image .map {
  position: absolute;
  top: 50%;
  left: 0;
  width: 200px;
  transform: translateX(-20%) translateY(-8%);
  box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 0.2);
}

/* about part three */
/* about part four */
#About_part .container .pick_up {
  padding: 50px 150px;
}

#About_part .container .pick_up .row {
  display: flex;
  align-items: center;
}

#About_part .container .pick_up .left .image .main {
  height: 540px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#About_part .container .pick_up .left {
  display: flex;
}

#About_part .container .pick_up .left .image {
  position: relative;
}

#About_part .container .pick_up .left .image .top {
  position: absolute;
  top: 20px;
  left: -25px;
  width: 200px;
  box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%) translateY(100%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#About_part .container .pick_up .left .image .pick {
  position: absolute;
  top: 28%;
  left: -40px;
  width: 181px;
  transform: translateX(80%) translateY(30%);
  border-bottom: 1px solid var(--mf-black);
}

#About_part .container .pick_up .right {
  padding: 50px 0;
  text-align: right;
}

#About_part .container .pick_up .right .text h2 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-main-fuchsia-pink);
  margin-bottom: 30px;
}

#About_part .container .pick_up .right .text p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-md);
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-paragraph);
  margin-bottom: 30px;
}

#About_part .container .pick_up .right .text p span {
  color: var(--mf-main-fuchsia-pink);
  font-weight: var(--m-f-weight-semb);
  font-size: var(--mf-font-lmd);
}

/* about part four */
/* about part five */
#About_part .container .panda_go {
  padding: 50px 150px;
}

#About_part .container .panda_go .row {
  display: flex;
  align-items: center;
}

#About_part .container .panda_go .left {
  padding: 50px 0;
}

#About_part .container .panda_go .left .text h2 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-main-fuchsia-pink);
  margin-bottom: 30px;
}

#About_part .container .panda_go .left .text p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-md);
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-paragraph);
  margin-bottom: 30px;
}

#About_part .container .panda_go .left .text p span {
  color: var(--mf-main-fuchsia-pink);
  font-weight: var(--m-f-weight-semb);
  font-size: var(--mf-font-lmd);
}

#About_part .container .panda_go .right {
  display: flex;
  justify-content: flex-end;
}

#About_part .container .panda_go .right .image .main {
  height: 540px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#About_part .container .panda_go .right .image {
  position: relative;
}

#About_part .container .panda_go .right .image .map {
  position: absolute;
  top: 59%;
  left: 2%;
  width: 160px;
  transform: translateX(-20%) translateY(-8%);
  box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 0.2);
}

#About_part .container .panda_go .right .image .top {
  position: absolute;
  top: -10%;
  left: 104%;
  width: 200px;
  transform: translateX(-50%) translateY(89%);
  rotate: -1deg;
}

/* about part five */
/* =========== About_part end =========== */
/* =========== Features_part start =========== */
#Features_part {
  padding: 50px 0 200px 0;
  background: rgb(255, 249, 249);
  overflow: hidden;
}

#Features_part .heading {
  display: flex;
  justify-content: center;
}

#Features_part .heading h2 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-black);
  margin-bottom: 60px;
}

#Features_part .heading h2 span {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-main-fuchsia-pink);
}

#Features_part .heading img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 10px;
}

#Features_part .container {
  width: 100%;
}

#Features_part .container .feature .text_one {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 20px;
}

#Features_part .container .feature .text_two {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
  column-gap: 10px;
  margin-bottom: 10px;
}

#Features_part .container .feature .head i {
  font-size: var(--mf-font-x);
  color: var(--mf-main-fuchsia-pink);
}

#Features_part .container .feature .text h4 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-rmd);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-main-fuchsia-pink);
  margin-bottom: -5px;
}

#Features_part .container .feature .text p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-md);
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-paragraph);
}

#Features_part .container .right .image img {
  width: 160%;
}

/* ===========point_part=========== */
#Features_part .main_part {
  padding: 200px 0 100px;
}

#Features_part .main_part .point_part {
  background: url(../images/pandapro-banner.png) no-repeat center;
  background-size: cover;
  height: 400px;
  box-shadow: 0px 1px 10px -5px var(--mf-black);
}

#Features_part .main_part .container {
  position: relative;
}

#Features_part .main_part .point_part .image .main_image {
  width: 275px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 18px -5px var(--mf-black);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-18%);
  -webkit-transform: translateY(-18%);
  -moz-transform: translateY(-18%);
  -ms-transform: translateY(-18%);
  -o-transform: translateY(-18%);
}

#Features_part .main_part .point_part .image {
  position: relative;
}

#Features_part .main_part .point_part .image .one {
  width: 125px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-40%) translateX(-60%);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

#Features_part .main_part .point_part .image .two {
  width: 125px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transform: translateX(180%) translateY(10%);
}

#Features_part .main_part .point_part .image .three {
  width: 160px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transform: translateX(100%) translateY(102%);
}

#Features_part .main_part .point_part .image .four {
  width: 228px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transform: translateX(0%) translateY(0%);
  -webkit-transform: translateX(-43%) translateY(133%);
  -moz-transform: translateX(0%) translateY(0%);
  -ms-transform: translateX(0%) translateY(0%);
  -o-transform: translateX(0%) translateY(0%);
}

#Features_part .main_part .container .right {
  padding: 80px 100px;
  text-align: right;
}

#Features_part .main_part .container .right .text h2 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-main-fuchsia-pink);
  margin-bottom: 30px;
}

#Features_part .main_part .container .right .text p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-md);
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-paragraph);
  margin-bottom: 30px;
}

#Features_part .main_part .container .right .text p span {
  color: var(--mf-main-fuchsia-pink);
  font-weight: var(--m-f-weight-semb);
  font-size: var(--mf-font-lmd);
}

/* ===========point_part=========== */
/* ===========pandapro_part=========== */
#Features_part .pandapro {
  padding: 100px;
  height: 400px;
}

#Features_part .pandapro .container {
  max-width: 1180px;
  /* padding: 0; */
  display: flex;
  padding: 40px 100px;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1047%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 229%2c 240%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c655.602C121.655%2c657.676%2c222.319%2c570.973%2c323.904%2c504.005C424.348%2c437.789%2c549.926%2c382.59%2c587.502%2c268.303C624.697%2c155.177%2c536.463%2c43.04%2c513.909%2c-73.889C492.743%2c-183.622%2c529.263%2c-310.823%2c459.029%2c-397.751C388.489%2c-485.058%2c259.837%2c-486.632%2c152.895%2c-520.714C43.135%2c-555.694%2c-62.599%2c-619.109%2c-176.237%2c-600.208C-295.416%2c-580.385%2c-403.817%2c-509.665%2c-479.539%2c-415.523C-553.911%2c-323.059%2c-582.942%2c-203.339%2c-590.693%2c-84.929C-598.04%2c27.316%2c-570.508%2c136.895%2c-522.353%2c238.551C-474.708%2c339.129%2c-403.856%2c423.642%2c-316.884%2c493.081C-222.197%2c568.68%2c-121.146%2c653.537%2c0%2c655.602' fill='%23ffcde2'%3e%3c/path%3e%3cpath d='M1440 957.1949999999999C1511.908 942.832 1551.517 868.908 1610.695 825.607 1665.269 785.675 1741.8690000000001 772.015 1774.232 712.639 1807.125 652.2909999999999 1786.865 579.363 1782.289 510.786 1777.324 436.376 1789.577 355.317 1746.334 294.56 1701.983 232.247 1622.125 210.70999999999998 1550.199 184.697 1473.987 157.13400000000001 1391.766 109.262 1316.404 139.07100000000003 1241.065 168.87 1212.704 259.443 1177.16 332.248 1148.965 390 1139.7939999999999 451.93600000000004 1132.49 515.787 1125.397 577.793 1121.598 638.292 1135.182 699.206 1151.558 772.641 1161.597 855.2339999999999 1219.027 903.841 1278.062 953.806 1364.157 972.344 1440 957.1949999999999' fill='%23fffdfe'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1047'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#Features_part .pandapro .container .left .text h2 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-main-fuchsia-pink);
  margin-bottom: 30px;
}

#Features_part .pandapro .container .left .text p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-md);
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-paragraph);
  margin-bottom: 30px;
}

#Features_part .pandapro .container .left .text p span {
  color: var(--mf-main-fuchsia-pink);
  font-weight: var(--m-f-weight-semb);
  font-size: var(--mf-font-lmd);
}

/* #Features_part .pandapro .container .right{
  position: relative;
} */

#Features_part .pandapro .container .right .image {
  position: relative;
}

#Features_part .pandapro .container .right .image .papro {
  width: 200px;
  position: absolute;
  top: 0;
  left: 20%;
  box-shadow: 0px 0px 18px -5px var(--mf-black);
  border-radius: 10px;
  transform: translateY(-20%);
}

#Features_part .pandapro .container .right .image .pack {
  width: 200px;
  position: absolute;
  top: 0;
  left: 20%;
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transform: translateY(78%) translateX(92%);
}

/* ===========pandapro_part=========== */
/* =========== Features_part end =========== */

/* ===========order_part=========== */
#Order_part {
  padding: 100px 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1028%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M-241.92 213.89C-55.13 217.16 96.17 450.12 465.5 454.69 834.83 459.26 990.15 637.81 1172.92 639.32' stroke='rgba(226%2c 27%2c 112%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-261.73 365.15C-153.03 365.38-47.16 435.15 167.41 435.15 381.98 435.15 377.02 364.09 596.56 365.15 816.09 366.21 901.16 611.46 1025.7 620.91' stroke='rgba(226%2c 27%2c 112%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-265.55 359.05C-77.66 358.51 187.25 222.25 473.91 224.65 760.57 227.05 708.82 608.99 843.64 649.8' stroke='rgba(226%2c 27%2c 112%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-76.15 499.57C100.28 497.62 260.31 303.26 601.87 303.57 943.42 303.88 1087.98 655.01 1279.88 666.16' stroke='rgba(226%2c 27%2c 112%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-78.47 342.79C104.76 348.23 250.58 620.46 599.21 622.79 947.84 625.12 1107.04 671.11 1276.89 671.14' stroke='rgba(226%2c 27%2c 112%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1028'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

#Order_part .heading {
  padding: 0 0 100px 0;
  text-align: center;
}

#Order_part .heading span {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-main-fuchsia-pink);
  margin-bottom: 10px;
}

#Order_part .heading h2 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  font-weight: var(--m-f-weight-semb);
  color: var(--mf-black);
  margin-bottom: 10px;
}

#Order_part .heading p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-sm);
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-paragraph);
}

/* ---- */

#Order_part .float_slide .text img {
  width: 100%;
}

#Order_part .slide_body {
  margin-left: 120px;
}

#Order_part .main_slider .slide img {
  width: 260px;
  box-shadow: 0px 3px 11px -5px var(--mf-black);
  border-radius: 10px;
}

#Order_part .instruction_slide {
  display: flex;
  align-items: center;
  height: 100%;
}

/* ------- */
#Order_part .inst_right {
  display: flex;
  column-gap: 10px;
  margin-bottom: 30px;
  position: relative;
  margin: 0 55px;
}

/* #Order_part .inst_right i {
  color: var(--mf-main-fuchsia-pink);
  font-size: var(--mf-font-rmd);
  font-weight: var(--m-f-weight-reg);
  padding-top: 9px;
} */
#Order_part .inst_right img {
  width: 75px;
  height: 70px;
  padding-top: 9px;
}

#Order_part .text h3 {
  color: var(--mf-main-fuchsia-pink);
  font-size: var(--mf-font-x);
  font-weight: var(--m-f-weight-bold);
  margin-bottom: 5px;
}

#Order_part .text p {
  color: var(--mf-paragraph);
  font-size: var(--mf-font-lmd);
}

/* ----- */

#Order_part ul {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 10px;
  left: 50%;
  top: 70%;
  transform: translateX(-50%) translateY(100%);
}

#Order_part ul li button {
  font-size: 0px;
  height: 40px;
  width: 40px;
  background: url(../images/AllPanda/hide-and-seek-panda.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px solid transparent;
}

#Order_part ul .slick-active button {
  font-size: 0px;
  height: 50px;
  width: 50px;
  background: url(../images/AllPanda/waving-border.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px solid transparent;
}

/* #Order_part ul li:nth-child(2) button {
  background: url(../images/AllPanda/waving-border.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */

/* ===========order_part=========== */

/* =========== review_part start =========== */
#review_part {
  background: url(../images/review/reviewBG.jpg) no-repeat center;
  padding: 150px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

#review_part::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

#review_part .container {
  padding: 250px 400px;
  position: relative;
}

#review_part .container h2 {
  font-size: var(--mf-font-rmd);
  color: var(--mf-main-white);
  font-family: var(--heading-font);
  text-align: center;
}

#review_part .container h2 span {
  font-size: var(--mf-font-rmd);
  color: var(--mf-main-fuchsia-pink);
  font-family: var(--heading-font);
  text-align: center;
}

/* ============== review 1 ========= */
#review_part .container .review_right {
  padding: 0 0 37px 37px;
  width: 190px;
  display: flex;
  position: relative;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
}

#review_part .container .review_right:hover {
  transform: scale(1.1);
}

#review_part .container .review_right .image {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

#review_part .container .review_right .image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

#review_part .container .review_right .text {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}

#review_part .container .review_right .text .comment p {
  font-family: var(--paragraph-font);
  font-size: 8px;
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-main-white);
}

#review_part .container .review_right .text .icon {
  line-height: 20px;
}

#review_part .container .review_right .text .icon i {
  color: #ffc107;
  font-size: 12px;
}

#review_part .container .review_right .text .review_hour {
  width: 50px;
  padding: 1px;
  background: rgba(77, 77, 77, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 55%;
  right: 0;
  transform: translateX(40%);
  -webkit-transform: translateX(40%);
  -moz-transform: translateX(40%);
  -ms-transform: translateX(40%);
  -o-transform: translateX(40%);
}

#review_part .container .review_right .text .review_hour p {
  color: var(--mf-main-white);
  font-size: 8px;
}

/* ----------- */
#review_part .container .review_left {
  padding: 0 37px 37px 0;
  width: 190px;
  display: flex;
  position: relative;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
}

#review_part .container .review_left:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#review_part .container .review_left .image {
  position: absolute;
  right: 0;
  bottom: 0;
}

#review_part .container .review_left .image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

#review_part .container .review_left .text {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}

#review_part .container .review_left .text .comment p {
  font-family: var(--paragraph-font);
  font-size: 8px;
  font-weight: var(--m-f-weight-reg);
  color: var(--mf-main-white);
}

#review_part .container .review_left .text .icon {
  text-align: right;
  line-height: 20px;
}

#review_part .container .review_left .text .icon i {
  color: #ffc107;
  font-size: 12px;
}

#review_part .container .review_left .text .review_hour {
  width: 50px;
  padding: 1px;
  background: rgba(77, 77, 77, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 47%;
  right: 80%;
  transform: translateX(-4%) translateY(70%);
  -webkit-transform: translateX(-4%) translateY(70%);
  -moz-transform: translateX(-4%) translateY(70%);
  -ms-transform: translateX(-4%) translateY(70%);
  -o-transform: translateX(-4%) translateY(70%);
}

#review_part .container .review_left .text .review_hour p {
  color: var(--mf-main-white);
  font-size: 8px;
}

/* -------------- */
#review_part .container .review_one {
  position: absolute;
  top: 0;
  left: 0;
}

#review_part .container .review_two {
  position: absolute;
  top: 50%;
  left: -110px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#review_part .container .review_three {
  position: absolute;
  top: 90%;
  left: 10px;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

#review_part .container .review_four {
  position: absolute;
  top: 100px;
  left: 25%;
  transform: translateX(-25%);
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  -o-transform: translateX(-25%);
}

#review_part .container .review_five {
  position: absolute;
  top: 100%;
  left: 70%;
  transform: translateY(-100%) translateX(-25%);
  -webkit-transform: translateY(-100%) translateX(-25%);
  -moz-transform: translateY(-100%) translateX(-25%);
  -ms-transform: translateY(-100%) translateX(-25%);
  -o-transform: translateY(-100%) translateX(-25%);
}

#review_part .container .review_six {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

#review_part .container .review_seven {
  position: absolute;
  top: 55px;
  left: 73%;
  transform: translateX(-75%);
  -webkit-transform: translateX(-75%);
  -moz-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  -o-transform: translateX(-75%);
}

#review_part .container .review_eight {
  position: absolute;
  top: -40px;
  left: 105%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

#review_part .container .review_nine {
  position: absolute;
  top: 107%;
  left: 37%;
  transform: translateX(-100%) translateY(-100%);
  -webkit-transform: translateX(-100%) translateY(-100%);
  -moz-transform: translateX(-100%) translateY(-100%);
  -ms-transform: translateX(-100%) translateY(-100%);
  -o-transform: translateX(-100%) translateY(-100%);
}

#review_part .container .review_ten {
  position: absolute;
  top: 90%;
  left: 55%;
  transform: translateX(-100%) translateY(-100%);
  -webkit-transform: translateX(-100%) translateY(-100%);
  -moz-transform: translateX(-100%) translateY(-100%);
  -ms-transform: translateX(-100%) translateY(-100%);
  -o-transform: translateX(-100%) translateY(-100%);
}

#review_part .container .review_eleven {
  position: absolute;
  top: 75%;
  left: 100%;
  transform: translateX(-100%) translateY(-100%);
  -webkit-transform: translateX(-100%) translateY(-100%);
  -moz-transform: translateX(-100%) translateY(-100%);
  -ms-transform: translateX(-100%) translateY(-100%);
  -o-transform: translateX(-100%) translateY(-100%);
}

#review_part .container .review_tweleve {
  position: absolute;
  top: 44%;
  left: 110%;
  transform: translateX(-100%) translateY(-100%);
  -webkit-transform: translateX(-100%) translateY(-100%);
  -moz-transform: translateX(-100%) translateY(-100%);
  -ms-transform: translateX(-100%) translateY(-100%);
  -o-transform: translateX(-100%) translateY(-100%);
}

/* <!--=============== review part end  ============== --> */

/* <!--=============== faq part start  ============== --> */

#faq_part {
  padding: 100px 0 150px;
}

#faq_part .heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#faq_part .heading h4 {
  font-family: var(--heading-font);
  font-size: var(--mf-font-xl);
  color: var(--mf-black);
  text-align: center;
}

#faq_part .heading h4 span {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-xl);
  color: var(--mf-main-fuchsia-pink);
  text-align: center;
}

#faq_part .heading p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-md);
  color: var(--mf-black);
  text-align: center;
}

#faq_part .main {
  display: flex;
  justify-content: center;
  margin-top: -91px;
}

#faq_part .faq_banner {
  background: var(--mf-main-white);
  border: 10px solid var(--mf-main-fuchsia-pink);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 75%;
  padding: 60px 10px 10px;
}

#faq_part .heading .faq_top {
  position: relative;
  z-index: 999;
}

.faq_stickers .faq_bottom {
  width: 65%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: -9889;
}

#faq_part .faq_banner .faq {
  width: 100%;
}

#faq_part .faq_banner .main-accordian {
  height: 100%;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-borderless .accordion-item {
  font-family: var(--heading-font);
}

.accordion-borderless .accordion-item .accordion-body p {
  font-family: var(--paragraph-font);
  font-size: var(--mf-font-sm);
  color: var(--mf-paragraph);
}

.accordion-borderless .accordion-item {
  border: 0;
}

.accordion-borderless .accordion-item .accordion-button:not(.collapsed) {
  background-color: var(--mf-graydought);
  color: var(--mf-black);
  box-shadow: none;
}

.accordion-borderless .accordion-item .accordion-button:hover {
  background: var(--mf-graydought);
}

.accordion-borderless .accordion-item .collapsed::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 20px;
  background-color: var(--mf-paragraph);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  margin-left: 45%;
}

.accordion-borderless .accordion-item .collapsed::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 20px;
  background-color: var(--mf-paragraph);
  transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -moz-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  -o-transform: translate(-50%, -50%) rotate(90deg);
  margin-left: 45%;
}

.accordion-borderless .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 20px;
  background-color: var(--mf-paragraph);
  transform: translate(-50%, -50%) rotate(-270deg);
  -webkit-transform: translate(-50%, -50%) rotate(-270deg);
  -moz-transform: translate(-50%, -50%) rotate(-270deg);
  -ms-transform: translate(-50%, -50%) rotate(-270deg);
  -o-transform: translate(-50%, -50%) rotate(-270deg);
  margin-left: 45%;
}

/* <!--=============== review part end  ============== --> */

/* ============Footer part start============= */
/* follow part  */
footer {
  padding: 80px 0 0;
  background: url(../images/footerImage/footer.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

footer .footer_logo {
  height: 40px;
}

footer .footer_logo img {
  height: 100%;
}

footer .row a {
  display: block;
}

footer h4 {
  color: var(--mf-main-white);
  font-size: var(--mf-font-x);
  font-family: var(--heading-font);
}

footer h5 {
  color: var(--mf-main-white);
  font-size: var(--mf-font-rmd);
  font-family: var(--heading-font);
}

footer a {
  color: #cacaca;
  font-size: var(--mf-font-md);
  font-family: var(--paragraph-font);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

footer a:hover {
  color: var(--mf-main-fuchsia-pink);
}

footer .category {
  margin-top: 20px;
}

footer .follow_part {
  margin-top: 20px;
}

footer .follow_part h4 {
  color: var(--mf-main-white);
  font-size: var(--mf-font-x);
  font-family: var(--heading-font);
}

/* media icon */
footer .icon {
  margin-top: 20px;
  display: flex;
  column-gap: 15px;
  padding: 0 20px;
}

footer .icon i {
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

footer .icon i:hover {
  color: var(--mf-main-fuchsia-pink);
}

/* data part  */
footer .data {
  margin-top: 15px;
}

/* language part  */
footer .language {
  margin-top: 15px;
}

footer .language span {
  color: var(--mf-main-white);
  font-size: 22px;
  font-family: var(--heading-font);
}

/* Country part */
footer .Country_part {
  margin-top: 40px;
  text-align: center;
}

footer .Country_part a {
  color: var(--mf-main-white);
  font-size: 18px;
  font-family: var(--heading-font);
  padding: 0 15px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

footer .Country_part a:hover {
  color: var(--mf-main-fuchsia-pink);
}

footer .Country_part span {
  color: var(--mf-main-white);
  font-size: 22px;
  font-family: var(--heading-font);
}

/* copy part  */
footer .copy_part {
  margin-top: 25px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--mf-paragraph);
}

footer .copy_part .left_part a {
  padding-right: 20px;
}

footer .copy_part .right_part p {
  color: var(--mf-main-white);
  font-size: var(--mf-font-sm);
  font-family: var(--paragraph-font);
}

footer .copy_part .right_part a {
  color: var(--mf-main-fuchsia-pink);
  font-size: var(--mf-font-md);
  font-family: var(--paragraph-font);
}

/* ============Footer part start============= */

/* ========== Scroll to top button=========== */
#btn-back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.scroll_top {
  height: 50px;
  width: 50px;
  background: var(--mf-main-fuchsia-pink);
  opacity: 0.7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.scroll_top:hover {
  opacity: 1;
  background: var(--mf-main-fuchsia-pink);
}

#btn-back-to-top i {
  font-size: 25px;
  top: 10px;
  right: 11px;
  position: absolute;
}

/* ========== Scroll to top button =========== */